@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-big-shoulders-display);

  --color-border: var(--border);
  --color-border-s: var(--border-s);
  --color-border-t: var(--border-t);
  --color-input: var(--input);
  --color-ring: hsl(var(--ring));
  --color-background: var(--bg-secondary);
  --color-foreground: var(--foreground);

  --color-primary: var(--background);
  --color-primary-foreground: var(--text-primary);

  --color-secondary: var(--bg-secondary);
  --color-secondary-foreground: var(--text-secondary);

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: var(--bg-quaternary);
  --color-muted-foreground: var(--text-quaternary);

  --color-accent: var(--bg-tertiary);
  --color-accent-foreground: var(--text-tertiary);

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --grid-template-columns-card: repeat(auto-fill, minmax(200px, 1fr));

  --drop-shadow-custom: 2px 4px 5px #000;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility card {
  @apply h-full bg-muted border-t-4 rounded-lg transition-all hover:bg-accent hover:drop-shadow-custom focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 focus-visible:ring-offset-background;
}

@layer base {
  :root {
    --background: #0b0c0d;
    --foreground: #fff;
    --bg-secondary: #161618;
    --bg-tertiary: #1c1c1f;
    --bg-quaternary: #232326;
    --bg-quinary: #28282c;
    --border: #23252a;
    --border-s: #292b30;
    --border-t: #2c2e33;
    --text-primary: #fff;
    --text-secondary: #e3e4e6;
    --text-tertiary: #969799;
    --text-quaternary: #595a5c;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --input: #232326;
    --border: #23252a;
    --border-s: #292b30;
    --border-t: #2c2e33;
    /* --border: 215 27.9% 16.9%; */
    /* --input: 215 27.9% 16.9%; */
    --ring: 216 12.2% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-secondary text-secondary-foreground font-sans tracking-wide;
  }
}
